#wrapper {
  margin: auto;
  width: 60%;
  padding: 10px;
  text-align: center;
}
h1 {
  text-align: center;
  font-family: Jockey One;
  font-size: 45px;
}
h4 {
  text-align: center;
}
textarea {
  margin: auto;
  display: block;
}
#img-canvas {
    width: 60%;
    display: block;
    margin: auto;
}

.flex-container {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: space-evenly;
  align-items: center;
}

.flex-item-left {
  flex: 50%;
  border: 1px solid black;
  flex-grow: 1;
}

.flex-item-right {
  flex: 50%;
  border: 1px solid black;
  flex-grow: 1;

}



::-webkit-file-upload-button, button {
  background-color: #555555;
  color: white;
  border: 2px solid black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

::-webkit-file-upload-button:hover, button:hover {
  background-color: black;
  color: white;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  #wrapper {
    width: 95%;
    border: none;
  }
}
